<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" style="cursor: pointer"
        >Transactions History</a
      >
    </li>
  </ul>
  <div class="container-fluid">
    <h5>Transaction amount (Withdraw)</h5>
    <!-- <app-list [transactions]="getTransactionsWithdraw()"></app-list> -->
    <br />
  </div>
  <div class="container-fluid">
    <h5>Transaction amount (Deposit)</h5>
    <!-- <app-list [transactions]="getTransactions()"></app-list> -->
  </div>
</div>
